@page "/"
@model WebSample.Pages.IndexModel
@{

}


<div class="container d-flex justify-content-center align-items-center" dir="rtl">
    <div class="bg-light border rounded p-4 text-center">
        <p class="mb-3">جهت تست به صفحه پرداخت مراجعه کنید</p>
        <a href="/charge" class="btn btn-primary">صفحه پرداخت</a>
    </div>
</div>
